DesignFiles/
client/node_modules/
client/.expo/
client/dist/
client/web-build/
.metro-health-check*

.firebaserc

.firebase/
client/package-lock.json
.DS_Store
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.env
*.zip
backend/package-lock.json
backend/node_modules/
backend/logs/


